* {
  font-size: 18px;
  color: #000;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
}

h2 {
  text-align: center;
  font-size: 25px;
  font-weight: 400;
}

#formDiv {
  width: 54%;
  margin: 5% 23% 5%;
}

#formDiv>* {
  margin-right: 15%;
  margin-left: 15%;
  width: 70%;
}

form {
  width: 100%;
  padding: 20px 0 0;
}

input,
select,
button,
textarea {
  width: calc(100% - 2px - 48px);
  display: block;
  outline: none;
  border: none;
  border: 1px solid #ccc;
  border-bottom: 1px solid #555;
  height: 40px;
  margin-bottom: 20px;
  padding: 2px 24px;
  font-size: 16px;
}

option {
  color: #000;
  font-size: 16px;
}

label {
  display: inline-block;
  border: none;
  color: #000;
  padding: 0 24px 4px;
}

select {
  height: 46px;
  width: calc(100%);
}

textarea {
  height: 100px;
  padding-top: 15px;
  padding-bottom: 20px;
  resize: vertical;
  min-height: 80px;
  max-height: 800px;
}

.check,
label.check {
  display: inline-block;
  margin-top: 0px;
}

input.check {
  width: 25px;
  margin-right: 20px;
  margin-bottom: 30px;
}

label.check {
  width: calc(100% - 50px);
  padding: 0;
}

input::placeholder, select:disabled {
  color: #888;
}

button {
  width: 20%;
  margin: 0 40%;
}